<h1 style="margin-left: 500px;">Customer manager</h1><hr>

<td><button type="button" class="btn btn-primary" (click)="register()">Create new Customer</button></td>
<br><br>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Mail</th>
      <th scope="col">Detail</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cus of customers">
      <td>{{cus.id}}</td>
      <td>{{cus.name}}</td>
      <td>{{cus.email}}</td>
      <td><button type="button" class="btn btn-primary" [routerLink]="['/update',cus.id]">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="delete(cus.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
