<form *ngIf="curentCustomer">
  <div class="container">
    <h1>Update</h1>
    <p>Please change in this form to update this account.</p>
    <hr>

    <label for="email"><b>Name </b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" required [(ngModel)]="curentCustomer.name">
<hr>
    <label for="psw"><b>Password </b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required [(ngModel)]="curentCustomer.password">
<hr>
    <label for="psw-repeat"><b>Email </b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required [(ngModel)]="curentCustomer.email">
    <hr>
    <td><button type="button" class="btn btn-primary" (click)=update()>Update</button></td>
  </div>
</form>
